<!DOCTYPE html>
    <html>
        <head>
            <title>User Signup</title>
        <head>
        <body>
            <h1>Signup</h1>
            <form action="/welcome" method="post">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" />
                <label for="password">Password</label>
                <input id="password" type="password" name="password" />
                <label for="verify-password">Verify Password</label>
                <input id="verify-password" type="password" name="verify_password" />
                <label for="email">Email (optional)</label>
                <input id="email" type="text" name="email" />
                <input type="submit" />

            </form>
        </body>
    <html>